:root {
  --theme-gray: #2a2a2a;
  --theme-green: #90b493;

  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
}

* {
  margin: 0;
  box-sizing: border-box;
}

@media (max-width: 800px) {
  :root {
    font-size: 14px;
  }
}
